.paymentdiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
    background-image: url('https://c8.alamy.com/comp/RN85W1/signs-on-shop-for-google-pay-and-apple-pay-london-RN85W1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}